.form-control {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
  
  .form-actions button {
    font: inherit;
    cursor: pointer;
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
  }
  
  .form-actions button:hover,
  .form-actions button:active {
    background-color: #f44336;
  }
  